<% provide :title, @subject.name %>
<% provide :no_container, true %>


<div class='subject-header'>
  <div class='subject-image'>
    <%= image_tag @subject.image_url(:cover) %>
  </div>
  <div class='container'>
    <h1><%= @subject.name %></h1>
  </div>

</div>


<!-- TODO: Add breadcrumbs -->

<div class='container'>
  <% if @lessons.any? %>
    <%= react_component 'SubjectPage', subject: @subject %>
  <% else %>
    <p>Aktualnie nie ma żadnych lekcji z tego przedmiotu. Prawdopodobnie zostaną one niedługo dodane. Prosimy spróbować później lub skontaktować się z administracją.</p>
  <% end %>


  <aside class="subject-description">
    <h2>Opis przedmiotu </h2>
    <%= @subject.description %>
  </aside>

  <aside class="lesson-description">

    <%= render partial: 'lessons/lesson_description',
    locals: {lesson: @current_lesson} unless @current_lesson.nil? %>
  </aside>

  </div>
</div>
