<% provide :title, 'Nowy użytkownik' %>

<section class="admin-panel">
  <h1>Dodaj użytkownika</h1>
  <div class="new-user-form">
    <%= simple_form_for @user,
          url: admin_users_path(@user),
          html: { class: 'custom-form' } do |f| %>
      <%= f.input :email, label: 'Email' %>
      <%= f.input :password, label: 'Hasło' %>
      <%= f.input :role,
                  collection: User.roles,
                  as: :radio_buttons,
                  label: 'Typ użytkownika: ' %>


      <%= f.submit 'Dodaj', class: 'button button-primary' %>
    <% end %>
  </div>
</section>
