<footer>
  <div class="container">
    <div class="row">
      <nav class='main-nav col-md-12'>
        <ul>
          <li><%= link_to 'Strona główna', root_path %></li>
          <li><%= link_to 'Wszystkie kursy', subjects_path %></li>
          <li><%= link_to 'Artykuły', articles_path %></li>
          <li><%= link_to 'Kontakt', contact_path %></li>
          <li><%= link_to 'Twórcy', '' %></li>
          <li><%= sign_in_out_link %></li>
          <% unless current_user %>
            <li><%= link_to 'Zarejestruj się', new_user_registration_path %></li>
          <% end %>

          <% if current_user.try(:can_view_admin_panel?) %>
            <li><%= link_to 'Panel administracyjny', admin_path %></li>
          <% end %>
        </ul>
      </nav>
      </nav>
    </div>
  </div>
  <div class="row" id = 'copyright'>
    <div class="container">
      <section class='col-md-12'>Copyright &copy; 2015 ePUEPS</section>
    </div>
  </div>
</footer>
